pzJavaVersion=25

# Uncomment and set these locally as needed.
# pzLibDir=C:/Program Files (x86)/Steam/steamapps/common/ProjectZomboid
# pzGameDir=C:/Program Files (x86)/Steam/steamapps/common/ProjectZomboid
# pzModLibDir=C:/Users/your-user/Zomboid/mods/PirchsPZDBI/42/lib
