pzJavaVersion=25

# Project Zomboid install root used for compileOnly zombie classes.
pzLibDir=C:/Program Files (x86)/Steam/steamapps/common/ProjectZomboid

# Optional alternate game directory property.
# pzGameDir=C:/Program Files (x86)/Steam/steamapps/common/ProjectZomboid

# Mod lib target used by installToMod.
pzModLibDir=C:/Users/ryanj/Zomboid/mods/PirchsPZDBI/42/lib
